body{
    margin: 0px;
    padding: 0px;
    background-color: #d4902f;
    color: black;
    font-family: 'Ysabeau Office', sans-serif;
    display: flex;
    overflow: hidden;
}

#left-side{
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
    height: 100vh;
    width: 50vw;
    background-image: url('img.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 15px black;
    
}

#logo{
    font-family: 'Gloria Hallelujah', cursive;
    display: flex;
    background-color: black;
    opacity: 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50%;
    margin-top: 30vh;  
}

#left-bottom span{
    color:#d4902f;
}

#left-bottom{
    align-self: flex-end;
    font-size: 22px;
}
img{
    height: 100px;
}

p{
    margin: 0;
    padding: 0;
    font-size: 12px;
}

#right-side{
    height: 100vh;
    width: 50vw;
    
}

#right-top{
    padding: 9px 10px 10px 20px;
    
}

.form-box{
    margin: 5px;
    display:flex;
    flex-direction: column;
}

.form-box input{
    height: 30px;
    width: 250px;
    background-color: #d4902f;
    font-size: 20px;
}

#right-form{
    padding: 20px;
    background-color: rgb(241, 169, 68);
    display: flex;
    flex-direction: column;
    box-shadow: 5px 2px 10px black;

}


.form-2{
    display: flex;
    gap: 90px;
}
#right-end{
    padding: 30px 20px;
}

a{
    color:#3d5254;
    text-decoration: none;
}
#form-button{
    border-radius: 5px;
    background-color: #3d5254;
    height: 50px;
    width: 150px;
    border-right: 3px black solid;
    border-bottom: 2px black solid;
    outline: 0;
}

input:focus{
    box-shadow: 0 0 5px 2px #3d5254;
    border: 3px #3d5254 solid;
    outline: 0;
}

input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 30px #d4902f inset !important;
}

/*MEDIA QUERY*/
@media only screen and (min-width: 280px) and (max-width: 700px){
    body{
        overflow-y: scroll; 
        overflow-x: hidden; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #logo{
        width: 100%;
        margin-top: 0;    
    }

    #left-side{
        width: 100vw;
        height: 50vh;
    }

    #right-side{
        width: 100vw;
        
        
    }

    .form-2{
        flex-wrap: wrap;
        gap:10px;
        justify-content: center;
    }

    #right-form{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #right-end{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}


@media only screen and (min-width: 701px) and (max-width: 1172px){
    body{
        overflow-y: scroll; 
        overflow-x: hidden; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #logo{
        width: 100%;
        margin-top: 0;    
    }

    #left-side{
        width: 100vw;
        height: 50vh;
        
    }

    #right-top{
        padding: 50px 100px;
        
    }

    #right-side{
        width: fit-content;
        
    }

    .form-2{
        flex-wrap: wrap;
        gap:10px;
        justify-content: center;
    }

    #right-form{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #right-end{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form-box input{
        width: 400px;
    }
}


@media only screen and (height <= 691px) and (width>1172px){
    body{
        overflow-y: scroll; 
        overflow-x: hidden; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #logo{
        width: 100%;
        margin-top: 0;    
    }

    #left-side{
        width: 100vw;
        height: 50vh;
        
    }

    #right-top{
        padding: 50px 100px;
        
    }

    #right-side{
        width: fit-content;
        
    }

    .form-2{
        flex-wrap: wrap;
        gap:10%;
        justify-content: center;
    }

    #right-form{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #right-end{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .form-box input{
        width: 400px;
        
    }
}
